.fl-form .form-result {
    display: none;
}

.btn-primary,
.btn-secondary {
    display: block;
    clear: both;
    width: 100%;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border: none;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-secondary:focus,
.btn-secondary:hover,
.btn:active:focus {
    outline: none;
}

.text-helper {
    margin-top: 0.5em;
    font-size: 0.8em;
    display: block;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    padding-right: 40px;
}

.fileUpload .fa {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    top: 50%;
    margin-top: -10px;
    right: 10px;
    color: #FFF;
}

.fileUpload input[type="file"] {
    display: none;
}
@media (min-width:640px) {
    .btn-primary {
        clear: none;
        display: inline-block;
        width: auto;
        max-width: 100%;
    }

    .btn-secondary {
        clear: none;
        display: inline-block;
        width: auto;
        max-width: 100%;
    }
}

.form-btns button + button {
    margin-top: 10px;
}

.form-control {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: none;
    background-color: #fbfbfb;
    height: 43px;
}

.form-btns {
    margin-bottom: 30px;
}
@media screen and (min-width: 640px) {
    .control-label {
        padding-top: 12px !important;
    }

    .form-btns button + button {
        margin-top: 0;
        margin-right: 10px;
    }
}
